<div class="collection-showcase">

  {%- if active_tab == 'articles' and article_count > 0 -%}
    {% render 'collection-articles',
      context: context,
      section: section
    %}

  {%- elsif active_tab == 'pages' and page_count > 0 -%}
    {% render 'collection-pages',
      context: context,
      section: section
    %}

  {%- elsif collection.products_count > 0 -%}
    {% render 'collection-products',
      context:      context,
      section:      section,
      per_page:     per_page,
      show_banners: show_banners
    %}

  {%- else -%}
    <p class="collection-showcase__empty">Nothing to see here.</p>

  {%- endif -%}

</div>