{% comment %}
  FOOTER TOP BAR
{% endcomment %}

<div class="footer__top-bar">
  <div class="footer__top-bar-inner">
    {%- if heading != blank -%}
      <div class="footer__top-heading">{{ heading }}</div>
    {%- endif %}
  </div>
</div>