{% comment %} snippets/header-account.liquid {% endcomment %}


  href="{{ routes.account_url }}"
  class="header__account"
  aria-label="{% if customer %}My account{% else %}Sign in or register{% endif %}"
  data-account-trigger
>
  {% render 'icon', name: 'account', size: 20, class: 'header__account-icon' %}
  <span class="header__account-label">
    {%- if customer -%}
      Hi, {{ customer.first_name }}
    {%- else -%}
      Sign in / Register
    {%- endif -%}
  </span>
</a>