{% comment %}
  Highlight Link - Header Menu
  Renders the special highlighted link with stars (e.g. "On Sale").
{% endcomment %}

<li class="menu-bar__item menu-bar__item--highlight" {{ block.shopify_attributes }}>
  <a href="{{ block.settings.link | default: '#' }}" class="menu-bar__link menu-bar__link--highlight">
    {%- if block.settings.icon != blank -%}
      <span class="menu-bar__icon">{%- render 'menu-icon', icon: block.settings.icon -%}</span>
    {%- endif -%}
    <span class="reversed-link">{{ block.settings.label | default: 'On Sale' }}</span>
    <svg class="star star-1" width="10" height="10" viewBox="0 0 12 12" aria-hidden="true"><path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/></svg>
    <svg class="star star-2" width="10" height="10" viewBox="0 0 12 12" aria-hidden="true"><path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/></svg>
    <svg class="star star-3" width="10" height="10" viewBox="0 0 12 12" aria-hidden="true"><path d="M6 0L7.854 4.146L12 6L7.854 7.854L6 12L4.146 7.854L0 6L4.146 4.146L6 0Z" fill="currentColor"/></svg>
  </a>
</li>