<div class="product-info">
  <h1 class="product-title">{{ product.title }}</h1>
  <p class="product-price">{{ product.price | money }}</p>
  
  <div class="product-description">
    {{ product.description }}
  </div>
</div>