{{ 'article-card.css' | asset_url | stylesheet_tag }}

{% assign articles = collection.metafields.custom.related_post_cards.value %}

{% if articles != blank %}
  <div class="related-articles">
    {% for article in articles %}
      {% render 'article-card', article: article %}
    {% endfor %}
  </div>
{% endif %}