{%- comment -%}
  ============================================================================
  SHOWROOM ARTICLES
  snippets/showroom-articles.liquid

  Collection metafield:
    namespace: showroom
    key: articles
    type: List of articles

  Usage:

    {% render 'showroom-articles', collection: collection %}

  Optional parameters:

    columns_desktop: 3
    columns_mobile: 1
    show_image: true
    show_blog: true
    show_author: false
    show_date: true
    show_excerpt: true
    excerpt_length: 140
    image_ratio: '16/9'
  ============================================================================
{%- endcomment -%}

{%- liquid
  assign source_collection = collection | default: collection

  assign articles = source_collection.metafields.showroom.articles.value

  if articles == blank
    break
  endif

  assign columns_desktop = columns_desktop | default: 3
  assign columns_mobile = columns_mobile | default: 1

  assign show_image = show_image | default: true
  assign show_blog = show_blog | default: true
  assign show_author = show_author | default: false
  assign show_date = show_date | default: true
  assign show_excerpt = show_excerpt | default: true

  assign excerpt_length = excerpt_length | default: 140
  assign image_ratio = image_ratio | default: '4/3'
-%}

<div
  class="showroom-articles"
  style="
    --showroom-articles-columns-mobile: {{ columns_mobile }};
    --showroom-articles-columns-desktop: {{ columns_desktop }};
  "
>

  {%- for article in articles -%}
    <div class="showroom-articles__item">

      {% render 'article-card',
        article: article,
        show_image: show_image,
        show_blog: show_blog,
        show_author: show_author,
        show_date: show_date,
        show_excerpt: show_excerpt,
        excerpt_length: excerpt_length,
        image_ratio: image_ratio
      %}

    </div>
  {%- endfor -%}

</div>