{% comment %}
  BLOCK: single-link.liquid
  Clean dedicated block using menu-item snippet
{% endcomment %}

<li class="menu-bar__item" {{ block.shopify_attributes }}>
  {% render 'menu-item', 
      title: block.settings.label,
      url: block.settings.link,
      icon_type: block.settings.icon,
      class: 'menu-bar__link' %}
</li>

{% schema %}
{
  "name": "Single Link",
  "settings": [
    {
      "type": "text",
      "id": "label",
      "label": "Label",
      "default": "Link"
    },
    {
      "type": "url",
      "id": "link",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "icon",
      "label": "Icon name",
      "info": "Optional. Uses snippets/menu-icon.liquid"
    }
  ]
}
{% endschema %}