{% comment %}
  FOOTER BODY NAV
  Container for the mega menu
{% endcomment %}

<div class="footer__body-nav">
  {%- if heading != blank -%}
    <h3 class="footer__body-heading">{{ heading }}</h3>
  {%- endif %}

  {% render 'footer-mega-menu', 
      menu: menu, 
      show_section_titles: show_section_titles %}
</div>