{%- liquid
  assign current_year = 'now' | date: '%Y'
  assign display_year = current_year
  if section.settings.copyright_dynamic_year == false
    assign display_year = section.settings.copyright_year | default: current_year
  endif
  assign company = section.settings.copyright_name | default: shop.name
  assign suffix  = section.settings.copyright_suffix | default: 'All Rights Reserved.'
-%}

<p class="fbb__copyright">
  <span class="fbb__copyright-symbol" aria-hidden="true">&copy;</span>
  <span class="fbb__copyright-year" data-fbb-year="{{ display_year }}">{{ display_year }}</span>
  <span class="fbb__copyright-company">{{ company }}</span>
  {%- if suffix != blank -%}
    <span class="fbb__copyright-suffix">{{ suffix }}</span>
  {%- endif -%}
</p>
