<div class="announcement-bar">
  <div class="announcement-bar__inner page-width">
  </div>
</div>

{% schema %}
{
  "name": "Announcement bar",
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
