{% comment %}
Snippet: collection-showcase
{% endcomment %}

<div class="collection-showcase" id="collection-showcase">
  {{- 'collection-showcase.css' | asset_url | stylesheet_tag -}}

  <div class="collection-showcase__panel{% if active_tab == 'products' %} is-active{% endif %}" data-tab="products" id="panel-products">
    {% if collection.products_count > 0 %}
      {% render 'collection-products', context: context, section: section, per_page: per_page, show_banners: show_banners %}
    {% else %}
      <p class="collection-showcase__empty">No products found.</p>
    {% endif %}
  </div>

  <div class="collection-showcase__panel{% if active_tab == 'articles' %} is-active{% endif %}" data-tab="articles" id="panel-articles">
    {% render 'collection-articles', context: context, section: section, meta_articles: meta_articles %}
  </div>

  <div class="collection-showcase__panel{% if active_tab == 'pages' %} is-active{% endif %}" data-tab="pages" id="panel-pages">
    {% render 'collection-pages', context: context, section: section, meta_pages: meta_pages %}
  </div>
</div>