{%- if context == 'search' -%}
  {%- assign article_results = search.results | where: 'object_type', 'article' -%}
  {%- if article_results.size > 0 -%}
    <div class="collection-articles-grid">
      {%- for article in article_results -%}
        {% render 'card-article', article: article %}
      {%- endfor -%}
    </div>
  {%- else -%}
    <p class="collection-showcase__empty">No articles found for &ldquo;{{ search.terms | escape }}&rdquo;.</p>
  {%- endif -%}
{%- else -%}
  {%- if meta_articles != blank and meta_articles.size > 0 -%}
    <div class="collection-articles-grid">
      {%- for article in meta_articles -%}
        {% render 'card-article', article: article %}
      {%- endfor -%}
    </div>
  {%- else -%}
    <p class="collection-showcase__empty">No articles have been added to this collection yet.</p>
  {%- endif -%}
{%- endif -%}