{% comment %}
  Barebone Footer Menu Section
{% endcomment %}

<footer class="footer-menu">
  <div class="footer-menu__content">
    {% if section.settings.menu != blank %}
      <nav>
        {% for link in section.settings.menu.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
    {% endif %}
  </div>
</footer>

{% schema %}
{
  "name": "Footer Menu",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "presets": [
    {
      "name": "Footer Menu"
    }
  ]
}
{% endschema %}