<div class="header-menu">
  <div class="header-menu__inner page-width">
  </div>
</div>

{% schema %}
{
  "name": "Header menu",
  "presets": [
    {
      "name": "Header menu"
    }
  ]
}
{% endschema %}