<footer class="site-footer" data-section-id="{{ section.id }}" data-section-type="main-footer">
  <div class="page-width">
    <p>Main footer placeholder</p>
  </div>
</footer>

{% schema %}
{
  "name": "Main footer",
  "settings": [],
  "presets": [
    {
      "name": "Main footer"
    }
  ]
}
{% endschema %}