<link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="{{ 'product.css' | asset_url }}"></noscript>
<script src="{{ 'product.js' | asset_url }}" defer></script>

{%- render 'breadcrumbs' -%}

<div class="product-page" id="ProductSection">
  <div class="product-layout">

    <!-- Left Column -->
    <div class="product-col product-col--left">
        {%- render 'product-gallery' -%}
    {% comment %}
      <div class="product-col__flow">
        {%- if product.description != blank -%}
          <div class="product-description">{{ product.description }}</div>
        {%- endif -%}
        {%- render 'product-specifications' -%}
        {%- render 'product-accordion' -%}
        {%- render 'product-payment-security' -%}
      </div>
      {% endcomment %}
    </div>

    <!-- Right Column -->
    <div class="product-col product-col--right">
        {%- render 'product-detail' -%}
      {%comment %}
      <div class="product-col__flow">
        {%- render 'product-recommendations' -%}
      </div>
      {%endcomment %}
    </div>

  </div>
</div>