{{ 'product.css' | asset_url | stylesheet_tag }}

{% render 'breadcrumbs' %}

<div class="product-page">
  {% render 'product-media' %}
  {% render 'product-details' %}
</div>

{% schema %}
{
  "name": "Product Page",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}