{% comment %} Product Sections - Empty Controller {% endcomment %}

<div class="product-sections">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Product Sections",
  "blocks": [],
  "presets": []
}
{% endschema %}