{% comment %} Product Sections - Controller {% endcomment %}

<div class="product-sections">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

      {%- when 'product-reviews' -%}
        {%- render 'judgeme-reviews', block: block, product: product -%}

    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Product Sections",
  "blocks": [
    {
      "type": "product-reviews",
      "name": "Product Reviews",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": []
}
{% endschema %}
