<div class="utility-bar">
  <div class="utility-bar__inner page-width">
  </div>
</div>

{% schema %}
{
  "name": "Utility bar",
  "presets": [
    {
      "name": "Utility bar"
    }
  ]
}
{% endschema %}
