.showroom-articles {
  display: grid;
  grid-template-columns: repeat(
    var(--showroom-articles-columns-mobile, 1),
    minmax(0, 1fr)
  );
  gap: 1.5rem;
}

@media (min-width: 990px) {
  .showroom-articles {
    grid-template-columns: repeat(
      var(--showroom-articles-columns-desktop, 3),
      minmax(0, 1fr)
    );
  }
}